<%- include('../partials/header') %>

<h2>Flight Details</h2>

<h3><%= flight.airline %></h3>
<table>
  <thead>
    <tr>
      <th>Airline</th>
      <th>Airport</th>
      <th>Flight Number</th>
      <th>Departure Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= flight.airline %></td>
      <td><%= flight.airport %></td>
      <td><%= flight.flightNo %></td>
      <td><%= flight.departs %></td>
    </tr>
  </tbody>
</table>

<% if (tickets.length) { %>
  <table>
    <thead>
      <tr>
        <th>Seat</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% tickets.forEach(function(ticket) { %>
        <tr>
          <td><%= ticket.seat %></td>
          <td><%= ticket.price %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Ticket Purchased</h5>
<% } %>

<button><a href="/flights/<%= flight._id %>/tickets/new">Purchase Ticket</a></button>

<h2>Add Destination</h2>
<form action="/flights/<%= flight._id %>/destinations" method="POST">
  <label
    >Airport
    <select name="airport">
      <option value="AUS">AUS</option>
      <option value="DFW">DFW</option>
      <option value="DEN">DEN</option>
      <option value="LAX">LAX</option>
      <option value="SAN">SAN</option>
    </select> </label
  ><br />
  <label
    >Arrival Date
    <input type="date" name="arrival" /> </label
  ><br />
  <button type="submit">Add Destination</button>
</form>

<% if (flight.destinations.length) { %>
<table>
  <thead>
    <tr>
      <th>Arrival Date</th>
      <th>Airport</th>
    </tr>
  </thead>
  <tbody>
    <% flight.destinations.forEach(function(d) { %>
    <tr>
      <td><%= d.arrival %></td>
      <td><%= d.airport %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
<% } else { %>
<h5>No Destination Yet</h5>
<% } %> <%- include('../partials/footer') %>
